<a href="https://colab.research.google.com/github/emuhs/cwct_ml/blob/main/cwct_ml_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
drive  sample_data

In [13]:
!ls /content/drive/MyDrive/cwct_ml/

lab2-hw.txt	  lab2-quiz.txt     lab2-test.txt
lab2-project.txt  lab2-T2-data.pkl  ML-lab2-data.zip

In [15]:
import numpy as np
hwd = np.loadtxt("/content/drive/MyDrive/cwct_ml/lab2-hw.txt", dtype=str)
testd = np.loadtxt("/content/drive/MyDrive/cwct_ml/lab2-test.txt", dtype=str)
quizd = np.loadtxt("/content/drive/MyDrive/cwct_ml/lab2-quiz.txt", dtype=str)
projd = np.loadtxt("/content/drive/MyDrive/cwct_ml/lab2-project.txt", dtype=str)

In [20]:
print(hwd)

[['Name' 'hw1' 'hw2' 'hw3' 'hw4' 'hw5']
 ['A' '45' '46' '50' '39' '50']
 ['B' '35' '40' '41' '45' '40']
 ['C' '31' '38' '40' '29' '45']
 ['D' '40' '41' '42' '45' '41']
 ['E' '49' '47' '41' '39' '45']
 ['F' '30' '31' '38' '40' '39']]

In [21]:
print(testd)

[['Name' 'test1' 'test2']
 ['A' '90' '98']
 ['B' '91' '89']
 ['C' '78' '88']
 ['D' '85' '90']
 ['E' '70' '79']
 ['F' '75' '85']]

In [22]:
print(quizd)

[['Name' 'quiz1' 'quiz2' 'quiz3' 'quiz4' 'quiz5']
 ['A' '9' '8' '10' '10' '8']
 ['B' '9' '10' '8' '7' '10']
 ['C' '8' '8' '10' '7' '7']
 ['D' '8' '9' '10' '10' '10']
 ['E' '10' '9' '8' '7' '10']
 ['F' '7' '9' '7' '6' '9']]

In [23]:
print(projd)

[['Name' 'project']
 ['A' '90']
 ['B' '95']
 ['C' '85']
 ['D' '71']
 ['E' '82']
 ['F' '70']]

In [28]:
# Extract student names
names = hwd[1:,0]

# Convert scores to float arrays, skipping header row and name column
hw_scores = hwd[1:, 1:].astype(float)
test_scores = testd[1:, 1:].astype(float)
quiz_scores = quizd[1:, 1:].astype(float)
proj_scores = projd[1:, 1:].astype(float)

# Normalize and compute averages
hw_avg = np.mean(hw_scores / 50 * 100, axis=1)
test_avg = np.mean(test_scores, axis=1)
quiz_avg = np.mean(quiz_scores / 10 * 100, axis=1)
proj = proj_scores.flatten()

# Combine into grade matrix G
G = np.column_stack((hw_avg, test_avg, quiz_avg, proj))

# Weight matrix W
W = np.array([0.3, 0.4, 0.1, 0.2])

# Final grade calculation: G * W
final_grades = G @ W

# Output results
for name, grade in zip(names, final_grades):
    print(f"{name}: {grade:.2f}")

A: 92.20
B: 87.92
C: 80.16
D: 83.68
E: 81.52
F: 74.96

In [30]:
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_pickle('/content/drive/MyDrive/cwct_ml/lab2-T2-data.pkl')

In [31]:
df.head(3)

,title,subtitle,series,author,my_rating,avg_rating,publisher,binding,pages,year_published,month_read,month_read_num,year_read,bookshelf
0,"""13 1/2""",NaN,NaN,"Barr, Nevada",3.0,3.3,Vanguard Press,Hardcover,320,2009,May,5,2011,read
1,"""The Secret Diary of Hendrik Groen, 83 1/2 Yea...",NaN,NaN,"Groen, Hendrik",4.0,3.95,Grand Central Publishing,Hardcover,384,2014,August,8,2017,read
2,18 and Life on Skid Row,NaN,NaN,"Bach, Sebastian",3.0,3.68,Dey Street Books,Hardcover,433,2016,April,4,2020,read

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           671 non-null    object
 1   subtitle        218 non-null    object
 2   series          122 non-null    object
 3   author          671 non-null    object
 4   my_rating       640 non-null    object
 5   avg_rating      671 non-null    object
 6   publisher       669 non-null    object
 7   binding         671 non-null    object
 8   pages           671 non-null    int64
 9   year_published  671 non-null    object
 10  month_read      671 non-null    object
 11  month_read_num  671 non-null    int64
 12  year_read       671 non-null    int64
 13  bookshelf       671 non-null    object
dtypes: int64(3), object(11)
memory usage: 73.5+ KB

In [34]:
df.isnull().sum()

title               0
subtitle          453
series            549
author              0
my_rating          31
avg_rating          0
publisher           2
binding             0
pages               0
year_published      0
month_read          0
month_read_num      0
year_read           0
bookshelf           0
dtype: int64

In [35]:
for column in df.columns:
    missing_count = df[column].isna().sum()
    print(f"{column}: {missing_count} missing")

title: 0 missing
subtitle: 453 missing
series: 549 missing
author: 0 missing
my_rating: 31 missing
avg_rating: 0 missing
publisher: 2 missing
binding: 0 missing
pages: 0 missing
year_published: 0 missing
month_read: 0 missing
month_read_num: 0 missing
year_read: 0 missing
bookshelf: 0 missing

In [39]:
# Drop rows where any of the critical columns are missing
df_cleaned = df.dropna(subset=['my_rating', 'avg_rating', 'year_published'])

# Optional: verify no missing values remain in those columns
for col in ['my_rating', 'avg_rating', 'year_published']:
    print(f"{col}: {df_cleaned[col].isna().sum()} missing")

my_rating: 0 missing
avg_rating: 0 missing
year_published: 0 missing

In [41]:
df_cleaned.loc[:, 'my_rating'] = df_cleaned['my_rating'].astype(float)
df_cleaned.loc[:, 'avg_rating'] = df_cleaned['avg_rating'].astype(float)
df_cleaned.loc[:, 'year_published'] = df_cleaned['year_published'].astype(int)

In [43]:
for col in ['title', 'subtitle', 'series', 'publisher']:
    df_cleaned.loc[:, col] = df_cleaned[col].fillna(" ")

In [45]:
df_cleaned.isnull().sum()

title             0
subtitle          0
series            0
author            0
my_rating         0
avg_rating        0
publisher         0
binding           0
pages             0
year_published    0
month_read        0
month_read_num    0
year_read         0
bookshelf         0
dtype: int64

In [46]:
# Remove rows with negative year_published or ratings out of [0, 5]
df_cleaned = df_cleaned[
    (df_cleaned['year_published'] >= 0) &
    (df_cleaned['my_rating'].between(0, 5)) &
    (df_cleaned['avg_rating'].between(0, 5))
]

In [47]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 622 entries, 0 to 670
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           622 non-null    object
 1   subtitle        622 non-null    object
 2   series          622 non-null    object
 3   author          622 non-null    object
 4   my_rating       622 non-null    float64
 5   avg_rating      622 non-null    float64
 6   publisher       622 non-null    object
 7   binding         622 non-null    object
 8   pages           622 non-null    int64
 9   year_published  622 non-null    int64
 10  month_read      622 non-null    object
 11  month_read_num  622 non-null    int64
 12  year_read       622 non-null    int64
 13  bookshelf       622 non-null    object
dtypes: float64(2), int64(4), object(8)
memory usage: 72.9+ KB

In [48]:
# Group by author and count the number of books
group_author = df_cleaned.groupby('author')
author_counts = group_author['author'].count()

# Find the author with the most publications
most_published_author = author_counts.idxmax()
most_books = author_counts.max()

print(f"The author who published the most books is: {most_published_author} ({most_books} books)")

The author who published the most books is: Grisham, John (22 books)

In [49]:
df_num = group_author['author'].count()
max = 0
max_author = ''
for author in df_num.index:
    if df_num[author] > max:
        max = df_num[author]
        max_author = author

print(max_author, max)

Grisham, John 22

In [52]:
for author, subset in df_cleaned.groupby('author'):
    if author == max_author:
        print(author)
        for index, row in subset.iterrows():
            print(row['title'], end=', ')
            print(row['year_published'])

Grisham, John
A Time to Kill, 1989
Calico Joe, 2012
Ford County, 2008
Playing for Pizza, 2007
Rogue Lawyer, 2015
Sycamore Row, 2013
The Associate, 2009
The Brethren, 2000
The Broker, 2005
The Chamber, 1994
The Confession, 2010
The King of Torts, 2003
The Last Juror, 2004
The Litigators, 2011
The Partner, 1997
The Racketeer, 2012
The Rooster Bar, 2018
The Street Lawyer, 1998
The Summons, 2002
The Testament, 1999
The Whistler, 2016
Theodore Boone, 2010